doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title #{title}
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css' integrity='sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z' crossorigin='anonymous')
    link(rel='stylesheet' href='/css/style.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
    script(src='/js/script.js')

  body
    header
      nav.navbar.navbar-expand-lg.navbar-light.bg-light
        a.navbar-brand(href='/') TechMarcet
        button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
          ul.navbar-nav.mr-auto
            li.nav-item(class=title=="Home"?"active":"")  
              a.nav-link(href='/')
                | Home
                span.sr-only (current)
            li.nav-item(class=title=="Products"?"active":"")  
              a.nav-link(href='/allProducts') Products
            li.nav-item(class=title=="About Us"?"active":"") 
              a.nav-link(href='/aboutUs') About Us
            li.nav-item(class=title=="Contact"?"active":"") 
              a.nav-link(href='/contact') Contact
          form.form-inline.my-2.my-lg-0(action="/search" method="GET")
            input.form-control.mr-sm-2(type='text' placeholder='Search' aria-label='Search' name="productName")
            button.btn.btn-outline-primary.my-2.my-sm-0(type='submit') Search
      block carousel
    main
      include ../includes/order-box.pug
      .container.mt-2
        nav.nav.nav-pills.flex-column.flex-sm-row
          
              each category in categories
                  if category.categoryName===title
                    a.flex-sm-fill.text-sm-center.nav-link.active(href='#' ) #{category.categoryName}
                  else
                    a.flex-sm-fill.text-sm-center.nav-link(href=`/category/${category.categoryName}` ) #{category.categoryName}


                
          
        block content

    footer.container-fluid.p-5.mt-5
      .row
        .col
          h4.text-white Kategoriler
            br
            br
            each category in categories
                a.btn.text-white(href=`/category/${category.categoryName}` ) #{category.categoryName}
            
        .col-4
          h4.text-white E-Blog
          form.mt-2
            input.form-control.w-75.float-left(type='email' placeholder='Email')
            button.btn.btn-primary.ml-2(type='submit') >
          p.text-white.mt-2 Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, provident.
      hr.bg-light
      .row
        .col
          nav.nav.flex-column
            a.nav-link.text-white(href='#') Homepage
            a.nav-link.active(href='#!') Active
            a.nav-link(href='#!') Link
            a.nav-link(href='#!') Link
        .col
          nav.nav.flex-column
            a.nav-link.text-white(href='#') Products
            a.nav-link.active(href='#!') Active
            a.nav-link(href='#!') Link
            a.nav-link(href='#!') Link
        .col
          nav.nav.flex-column
            a.nav-link.text-white(href='#') About Us
            a.nav-link.active(href='#!') Active
            a.nav-link(href='#!') Link
            a.nav-link(href='#!') Link
        .col
          nav.nav.flex-column
            a.nav-link.text-white(href='#') Contact
            a.nav-link.active(href='#!') Active
            a.nav-link(href='#!') Link
            a.nav-link(href='#!') Link
        .col
          nav.nav.flex-column
            a.nav-link.text-white(href='#') Social Media
            a.nav-link.active(href='#!') Active
            a.nav-link(href='#!') Link
            a.nav-link(href='#!') Link
    
    script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js' integrity='sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN' crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js' integrity='sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV' crossorigin='anonymous')
